{{ define "main" }}
{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
<div class = 'wrap pt-2 mt-2'>
  {{- $paginator := .Paginate $pages -}}
  {{- $size := $paginator.PageSize }}
  {{- $scratch := newScratch }}
  {{- range $index, $value := $paginator.Pages }}
    {{ if isset .Params "image" }}
      {{ $scratch.Set "image" .Params.image }}
    {{ else }}
      {{ $scratch.Set "image" "thumbnail.svg" }}
    {{ end }}
    {{ $image := $scratch.Get "image" }}
    {{ $bg := (absURL (printf "images/%s" $image)) }}
    {{- if in $image "https://" }}
      {{- $bg = $image }}
    {{- end }}

  {{- if and (eq $index 0) (gt $size 1)  }}<div class = 'grid-3 article_showcase'>{{ end }}
  <article class = 'article'>
    <a href = '{{ $value.Permalink }}'>
      <div class = 'article_thumb' style='background-image: url({{ $bg }})'></div>
    </a>
  </article>
  {{- if and (eq $index (add $size -1)) (gt $size 1) }}</div>{{ end }}
  {{- end }}
</div>
{{ end }}
